<h1>Create User</h1>
{{#if message }}
<div>{{message}}</div>
{{/if}}

<form action="create" method="post">
    <label for="UserLogin">User Authentication</label>
    <input type="text" id="UserLogin" name="UserLogin">
    <label for="UserLogin">Password</label>
    <input type="text" id="UserPassword" name="UserPassword">
    <input type="Submit" value="Create">
</form>