@import "../../../../styles/settings";

.linkButton {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 20px;
  background-color: $color-white;
  border: 2px solid map_get($color-secondary-map, "secondary-90");
  color: map_get($color-secondary-map, "secondary-90");
  cursor: pointer;
  padding: 0;
  margin: 2px 5px;
  transition: 0.5s;
  border-radius: 20px;

  span {
    cursor: pointer;
    color: map_get($color-secondary-map, "secondary-90");
    font-weight: bold;
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
    text-decoration: none;
    text-transform: uppercase;
    transform: translate(-50%, -50%);
    left: 50%;  top: 50%;
  }
}

.linkButton:hover {
  background-color:  map_get($color-secondary-map, "secondary-90");

  span {
    color: $color-white;
  }
}

.linkButtonSecondary {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 20px;
  background-color: $color-white;
  border: 2px solid map_get($color-black-map, "black-50");
  color: map_get($color-black-map, "black-50");
  cursor: pointer;
  margin: 2px 5px;
  transition: 0.5s;
  border-radius: 20px;

  span {
    cursor: pointer;
    font-weight: bold;
    color: map_get($color-black-map, "black-50");
    position: absolute;
    text-decoration: none;
    text-transform: uppercase;
    transform: translate(-50%, -50%);
    left: 50%;  top: 50%;
  }
}

.linkButtonSecondary:hover {
  background-color:  map_get($color-black-map, "black-50");

  span {
    color: $color-white;
  }
}

.linkButtonWarning {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 20px;
  background-color: $color-white;
  border: 2px solid map_get($color-warning-map, "warn-90");
  color: map_get($color-warning-map, "warn-90");
  cursor: pointer;
  padding: 0;
  margin: 2px 5px;
  transition: 0.5s;
  border-radius: 20px;

  span {
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
    text-decoration: none;
    text-transform: uppercase;
    color: map_get($color-warning-map, "warn-90");
    transform: translate(-50%, -50%);
    left: 50%;  top: 50%;
  }
}

.linkButtonWarning:hover {
  background-color: map_get($color-warning-map, "warn-90");

  span {
    color: $color-white;
  }
}