@import "../../../../styles/settings";

.section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80vw;
  padding: 0 10px 20px 10px;
  margin: 5px;
}

.justifyStart{
  justify-content: flex-start;
}

.justifyCenter{
  justify-content: center;
}

.justifyEnd{
  justify-content: flex-end;
}

.stretch{
  justify-content: stretch;
}